.grid {
   width: 80%;
   height: 50%;
   margin: auto;
   border: 1px solid black;
   background: lightblue;
   display: grid;
   flex-wrap: wrap;
}

.cell {
   height: 100%;
   width: 100%;
}

.cell-active {
   border: 1px solid black;
   background: red;
}

.room-title {
   width: 100%;
   text-align: center;
   font-weight: bold;
}
